.gallery {
  border: 1px solid black;
  height: 80vh;
}

.movie-section1,
.movie-section2,
.movie-section3 {
  border: 1px solid black;
  height: 350px;
}

.movie-section1 {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  overflow-y: hidden;
}

.card-image {
  border: 1px solid black;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

