.gallery {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.movie-section1,
.movie-section2,
.movie-section3 {
  /* border: 1px solid white; */
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
  background-color: black;
  font-size: 10px;
  overflow-x: hidden;
}

.category {
  background-color: black;
  color: white;
}

.category h1 {
  margin: 0;
  font-size: 20px;
}

.popular-cards,
.upcoming-cards,
.toprated-cards {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  /* overflow-x: hidden; 
  overflow-y: hidden; */
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* margin-left: 30px; */
}

.cards::-webkit-scrollbar {
  display: none;
}

.slider-icon {
  background-color: black;
  color: white;
  height: 100%;
  /* border-radius: 100%; */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.slider-icon:hover {
  opacity: 0.6;
  background-color: #28282B;
}
.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.poster {
  width: 230px;
  height: 300px;
  transition: transform 450ms;
  cursor: pointer;
}

.poster:hover {
  transform: scale(1.10);
  opacity: 1;
}

.video {
  /* border: 1px solid black; */
  /* min-width: 100%; */
  width: 100%;
  height: 100%;
  align-self: center;
  position: absolute;
  overflow: hidden;
}


.card-btn {
  background-color: black;
}

.modal-background {
  background-color: none;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  color: white;
  z-index: 11;
}

.modal-body {
  background-color: #1a1a1a;
  margin: auto;
  width: 800px;
  height: 100%;
}

.description {
  font-size: 15px;
  /* border: 1px solid white; */
  /* width: 90%; */
  padding: 5px;
}

.cast,
.director {
  padding: 5px;
  font-size: 15px;
  /* border: 1px solid white; */
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actor-name,
.director-name {
  margin-left: 5px;
}

.trailer {
  /* border: 1px solid white; */
  height: 500px;
}

.nav-container {
  background-color: black;
  /* color: white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.signin-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.signin {
  /* border: 1px solid white; */
  width: 45vw;
  display: flex;
  justify-content: flex-end;
}

.sign-out {
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.home {
  width: 45vw;
  display: flex;
}

.home-link {
  /* font-size: 30px; */
  color: white;
  text-decoration: none;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.jetflix {
  width: 150px;
  height: 100%;
  /* border: 1px solid white; */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('jetflixupdated_top.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 350px;
  width: 320px;
  /* border: 1px solid white; */
  /* margin-top: 100px; */
}

/* .login-form > p {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  text-align: center;
} */

/* .login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
} */

.login-input {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #63666A;
  color: white;
}

.login-btn {
  font-size: 20px;
  background-color: #E50914;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.create-btn {
  font-size: 20px;
  background-color: #E50914;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-blend-mode: multiply; */
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: black; */
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  width: 320px;
  /* border: 1px solid black; */
  color: white;
  /* margin-top: 100px; */
}

.register-form > h1 {
  font-size: 40px;
  /* border: 1px solid white; */
  width: 350px;
  /* color: #E50914; */
}

.register-box {
  /* border: 1px solid black; */
  height: 650px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(000, 000, 000, 0.75);
  border-radius: 20px;
  
}

.register-input {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 15px;
  background-color: #63666A;
  border-radius: 5px;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

label {
  font-size: 20px;
  font-weight: bolder;
}

.mute {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  right: 10%;
  background-color: #383841;
  opacity: 0.6;
  color: white;
  transition: transform 250ms;
}

.mute:hover {
  opacity: 1;
  transform: scale(1.2);
}


/* @media only screen and (max-width: 1000px) {
  .poster {
    height: 250px;
    width: 300px;
  }
} */