.gallery {
  border: 1px solid black;
  height: 80vh;
}

.movie-section1,
.movie-section2,
.movie-section3 {
  border: 1px solid black;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  color: white;
  background-color: black;
  font-size: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card-image {
  border: 5px solid black;
  height: 300px;
  display: flex;
}

